<section id="artists" class="artists">
  <div class="container">
    <div class="artists__content">
      <div class="artists__text">
        <h2 class="artists__title">Artists</h2>
        <h3 class="artists__subtitle">Explore Your New Favorite Artists</h3>
      </div>
      <ul class="artists__list"></ul>
      <div class="loader">
        <div class="spinner"></div>
      </div>
      <button class="artists__button">
        Load More
        <svg class="artists__load-more-icon" width="24" height="24">
          <use href="./img/icons.svg#icon-down-arrow-alt"></use>
        </svg>
      </button>
    </div>
  </div>
  <div id="modal-root" class="modal"></div>
</section>
