<section class="hero">
  <div class="container">
    <div class="hero__content">
      <h1 class="hero__title">Discover Your Next Favorite Artist Today</h1>
      <h2 class="hero__text">
        Dive into a world of music discoveries with ArtistsHub – your personal
        guide to the boundless universe of sound. Explore, filter, and learn
        about your favorite artists all in one place.
      </h2>
      <a href="#artists" class="hero__btn">
        Explore Artists
        <svg class="hero__btn-icon" width="24" height="24">
          <use href="/img/icons.svg#icon-right-arrow"></use>
        </svg>
      </a>
    </div>
    <div class="hero__media"></div>
  </div>
</section>
